{# Stef & leana twig Template #}
{% extends "base.html.twig" %}

{% block stef %}
    <h2>Je suis là , toujours present {{ nom | upper }} </h2>
    <h3> Le Seigneur n'a pas changé , il me donne la grace d'etre patient , <br>
         <i>Papa merci pour ta parole ... je t'aime Jesus :-)<i/>
    </h3>
{% endblock %}
